#sidebar
  #menu-mask
  #sidebar-menus
    span.sidebar-menu-item-title 功能
    .sidebar-menu-item
      a.darkmode_switchbutton.menu-child(onclick='rm.switchDarkMode()' title='显示模式切换' href='javascript:void(0);' rel='external nofollow' data-pjax-state='')
        i.fas.fa-moon(style='font-size: 1rem;')
        span 显示模式
